<header class="site-header">

<div class="site-banner">
  <div class="site-banner-logo"></div>
</div>

<div class="header-content">
  <nav class="site-navigation">
    <ul class="site-menu">
      {% for link in site.data.navigation %}
      {% if link.url %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% else %}
      <li onclick="">{{ link.title }}
        <ul>
          {% for sub in link.items %}
          <li><a href="{{ sub.url }}">{{ sub.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>

<hr class="content-divisor">

</header>
